@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Styling Universal, form and modal*/
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  background-color: #fcfcfc;
  padding: 4%;
}


.form-cont, .modal-content {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.4rem;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.modal-cont {
  background-color: white;
  padding: 4%;
  border-radius: 8px;
  width: 68%;
  max-width: 100%;
  max-height: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-content {
  overflow-y:auto;
  overflow-x:hidden;
  max-height: 100%;
  padding: 10px;
}
.modal-content::-webkit-scrollbar {
  width: 0.5px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.close {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 1px;
  right: 12px;
}

/* Inputs Style */
.form-tb-text, .form-tb-number, .form-tb-date,
.form-tb-email, .form-tb-password, .form-tb-select,
.form-tb-search, .form-tb-url, .form-tb-range,
.form-tb-month, .form-tb-week, .form-tb-time, .form-tb-list,
.form-tb-date-time, .form-tb-file,
.modal-tb-text, .modal-tb-number, .modal-tb-date,
.modal-tb-email, .modal-tb-password, .modal-tb-select {
  flex: 1 1 calc(20% - 10px);
  margin: 0 5px 0 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #AFAFAF;
  border-radius: 14px;
  box-sizing: border-box;
  outline-color: #66a3c9;
  background-color: white;
  align-content: center;
  min-height: 50px;
}

.form-tb-text:hover, .form-tb-number:hover, .form-tb-date:hover,
.form-btn-email:hover, .form-btn-password:hover, .form-tb-select:hover,
.form-tb-search:hover, .form-tb-url:hover, .form-tb-rangev,
.form-tb-month:hover, .form-tb-weekv:hover, .form-tb-time:hover,
.form-tb-date-time:hover, .form-tb-range:hover, .form-tb-file:hover{
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 225);
  border: solid 1px #66a3c9;
}

.form-tb-list{
  min-height: 45px;
  max-height: 80px;
  min-width: 250px;
  list-style-type: none;
  appearance: none;
  overflow: auto;
}

.input-cont,
.modal-input-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 0;
  text-transform: uppercase;

}


.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

}

.input-wrapper i {
  position: absolute;
  left: 10px;
  color: #999;
  margin-right: 7px;
}

#form-tb-search::placeholder{
  margin-left: 20px;
}

.fa-search{
  margin-right: 8px;
  width: 8px;
}

.form-tb-search {
  padding-left: 30px;
  width: 100%;
}

#file-list-cont a{
  font-size: 14px;
  color: #0077B6;
}

#file-list-cont a:hover{
  color: #015cb1;
}

#file-list {
  gap: 10px;
  border: solid 0.5px #66a3c9;
  border-radius: 10px;
  padding: 12px;
  scrollbar-width: none;
  overflow: auto;
}


/* Styling for a radio buttons */
.radio-cont {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  padding: 5px;
  margin-top: 5px;
  white-space: nowrap;
}

.radio-cont input[type="radio"] {
  flex-shrink: 0;
}

.radio-cont .radio-label {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.form-tb-select option {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style for Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Style for confirm password */
#form-tb-confirm-password::-ms-reveal, #modal-tb-confirmPassword::-ms-reveal,
#form-tb-confirm-password::-ms-clear,  #modal-tb-confirmPassword::-ms-clear {
  display: none;
}

/* Styling for checkbox and teaxtarea */
.form-tb-checkbox,
.modal-tb-checkbox,
.radio {
  margin: 5px;
  flex-direction: column;
  display: flex;
  align-items: start;
}

.form-tb-checkbox-agreement,
.modal-tb-checkbox-agreement {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}

.form-tb-checkbox-agreement,
.form-tb-checkbox-agreement *,
.form-tb-checkbox-agreement *::before,
.form-tb-checkbox-agreement *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-tb-checkbox-agreement,
.modal-tb-checkbox-agreement *,
.modal-tb-checkbox-agreement *::before,
.modal-tb-checkbox-agreement *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-tb-checkbox-agreement,
.modal-tb-checkbox-agreement {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.form-tb-checkbox-agreement::after,
.modal-tb-checkbox-agreement::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.form-tb-checkbox-agreement::before,
.modal-tb-checkbox-agreement::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

.form-tb-checkbox-agreement:hover,
.modal-tb-checkbox-agreement:hover {
  border-color: var(--primary-color);
}

.form-tb-checkbox-agreement:checked,
.modal-tb-checkbox-agreement:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.form-tb-checkbox-agreement:checked::before,
.modal-tb-checkbox-agreement:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.form-tb-checkbox-agreement:active:not(:checked)::after,
.modal-tb-checkbox-agreement:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;

  box-shadow: none;
  transition: none;
  opacity: 1;
}

#modal-checkbox-label {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-tb-checkbox,
.modal-tb-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
#form-tb-show-password{
  width: 30px;
  height: 20px;
  margin-left: 4px;
  --checkbox-size: 21px;
}
#show {
  text-align: center;
  justify-content: center;
  font-size: 14px;
}

#checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-tb-textarea,
.modal-tb-textarea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#form-tb-textarea,
#modal-tb-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  max-height: 350px;
  resize: none;
}

textarea {
  padding: 10px;
  border-radius: 10px;
  border: solid 0.9px rgba(19, 19, 19, 0.1);
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  outline-color: #66a3c9;
}

textarea:hover {
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 225);
  border: solid 1px #66a3c9;
}

/* Style for Buttons */
.form-btn-submit,
.modal-btn-submit,
.form-btn-button,
.form-btn-reset{
  width: 100%;
  height: 45px;
  background-color: #1b313e;
  color: white;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.form-btn-submit:hover,
.modal-btn-submit:hover,
.form-btn-button:hover,
.form-btn-reset:hover {
  background-color: #66a3c9;
}

/* Media Query for smaller screens */


@media (max-width: 1280px) {
  .container-small {
    width: 100%;
    flex-wrap: wrap;
  }
  .form-tb-select option {
    font-size: 16px;
  }
  .form-tb-select::-webkit-scrollbar {
    width: 8px;
  }
  .form-tb-select:focus {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .modal .radioContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .radio-cont {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .modal .radioContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 900px) {
  .radio-cont {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
  .modal .radioContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 790px) {
  .modal .radioContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .form-tb,
  .form-tb-checkbox,
  .modal-tb-checkbox,
  .radio,
  select,
  input[type="date"],
  input[type="color"],
  textarea {
    flex: 1 1 calc(45% - 10px);
  }
}

@media (max-width: 745px) {
  .form-tb-select option {
    font-size: 14px;
  }
  .form-tb-select::-webkit-scrollbar {
    width: 5px;
  }

  .form-tb-select:focus {
    width: 90%;
  }
}
@media (max-width: 730px) {
  .form-tb-select:focus {
    width: 78%;
  }
  #inputCivilStatus {
    display: flex;
  }
}

@media (max-width: 700px) {
  .radio-cont {
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .modal .radioContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .radio-cont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .radio-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .modal .modal-cont {
    width: 90%;
    padding: 4%;
    font-size: 12px;
  }
  .modal .modal-content {
    padding: 10px;
  }

  .modal-cont label {
    font-size: 12px;
  }

  .modal-cont ::placeholder {
    font-size: 12px;
  }
  .modal label,
  .modal span,
  .modal select,
  .modal p {
    font-size: 12px;
    margin: 0;
  }
  .modal .form-tb-select:focus {
    width: fit-content;
  }
  .modal .form-tb-select {
    width: fit-content;
  }

  #checkbox-label {
    font-size: 12px;
  }
  *{
    font-size: 12px;

  }
  *::placeholder{
    font-size: 12px;
  }
  label{
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .radio-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .radio-cont .radio-label {
    font-size: 12px;
  }
  .form-tb-file{
    padding: 5px;
    width: 250px;
  }

}

@media (max-width: 480px) {
  .form-tb,
  .form-tb-checkbox,
  .modal-tb-checkbox,
  .radio,
  select,
  input[type="date"],
  input[type="color"],
  textarea {
    flex: 1 1 calc(90% - 10px);
  }

  .form-tb-select option {
    font-size: 16px;
  }

  .form-tb-select::-webkit-scrollbar {
    width: 8px;
  }
  .form-tb-select:focus {
    width: auto;
  }
}

@media (max-width: 300px) {
  .modal .form-tb {
    margin: 2px;
    padding: 6px;
    font-size: 12px;
  }

  .modal .radioContainer {
    margin: 0;
  }
  .modal .radioContainer .radio-label {
    font-size: 10px;
  }
}
