@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body,
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EBEBEB;
  padding: 5%;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: .4rem;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
}

.container-small {
  display: flex;
  flex-direction: row;

}

.textbox,
.textbox-select {
  flex: 1 1 calc(20% - 10px);
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 0.90px rgba(19, 19, 19, 0.1);
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  outline-color: #66A3C9;
}

.textbox:hover,
.textbox-select:hover {
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 225);
  border: solid 1px #66A3C9;
}


.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 5px;
}

/* Styling for a radio buttons */

.radioContainer {
  display: flex;
  flex-wrap: nowrap; /* Keep in one row */
  align-items: center;
  gap: 10px;
  overflow-x: auto; /* Allow horizontal scrolling */
  padding: 5px;
  margin-top: 5px;
  white-space: nowrap;
}

.radioContainer label {
  flex: 0 0 auto; /* Prevent shrinking */
  white-space: nowrap; /* Ensure text stays in one line */
}



.radioContainer input[type="radio"] {
  flex-shrink: 0;
}


.textbox-select option {
  font-size: 16px;
}


.textbox-select option {
  white-space: nowrap;
  /* Prevents text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styling for Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


/* Styling for date picker */
input[type="date"] {
  flex: 1 1 calc(20% - 10px);
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styling for confirm password */
#confirmPassword::-ms-reveal,
#confirmPassword::-ms-clear {
    display: none;
}

/* Focus effect */
.textbox:focus,
select:focus,
input[type="date"]:focus,
input[type="color"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Additional styles for checkbox, radio, and textarea */
.checkbox,
.radio {
  margin: 5px;
}

.formTextAreaControl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#description {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  max-height: 350px;
  resize: none;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: solid 0.90px rgba(19, 19, 19, 0.1);
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  outline-color: #66A3C9;
}

textarea:hover {
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 225);
  border: solid 1px #66A3C9;
}

/* Styling for Submit Button */
.submitButton {
  width: 100%;
  height: 45px;
  background-color: #1B313E;
  color: white;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #66A3C9;
}

/* Styling for check box */
.ios-checkbox {
  --checkbox-size: 21px;
  --checkbox-color: #44A1DB;
  --checkbox-bg: #dbeafe;
  --checkbox-border: #93c5fd;

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.checkBoxContainer {
  display: flex;
  justify-content: start;
}

.ios-checkbox input {
  display: none;
}

.checkbox-wrapper {
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  transition: transform 0.2s ease;
}

.checkbox-bg {
  position: absolute;
  inset: 0;
  border-radius: 1px;
  border: 2px solid var(--checkbox-border);
  background: white;
  transition: all 0.2s ease;
}

.checkbox-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  color: white;
  transform: scale(0);
  transition: all 0.2s ease;
}

.check-path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  transition: stroke-dashoffset 0.3s ease 0.1s;
}

.ios-checkbox input:checked+.checkbox-wrapper .checkbox-bg {
  background: var(--checkbox-color);
  border-color: var(--checkbox-color);
}

.ios-checkbox input:checked+.checkbox-wrapper .checkbox-icon {
  transform: scale(1);
}

.ios-checkbox input:checked+.checkbox-wrapper .check-path {
  stroke-dashoffset: 0;
}

.ios-checkbox:hover .checkbox-wrapper {
  transform: scale(1.05);
}

.ios-checkbox:active .checkbox-wrapper {
  transform: scale(0.95);
}

.ios-checkbox input:focus+.checkbox-wrapper .checkbox-bg {
  box-shadow: 0 0 0 4px var(--checkbox-bg);
}

span {
  color: #66A3C9;
}

/* Color Themes */
.ios-checkbox.blue {
  --checkbox-color: #44A1DB;
  --checkbox-bg: #dbeafe;
  --checkbox-border: #AACBE1;
}

/* Animation */
@keyframes bounce {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.ios-checkbox input:checked+.checkbox-wrapper {
  animation: bounce 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
#checkbox{
  width: 30px;
  height: 20px;
  margin-left: 4px;
  --checkbox-size: 21px;

}
#show{
  text-align: center;
  justify-content: center;
  font-size: 14px;

}


/* Media Query for smaller screens */

@media (max-width: 1280px) {
  .container-small {
    width: 100%;
    flex-wrap: wrap;
  }
  .textbox-select option {
    font-size: 16px;
  }
  .textbox-select::-webkit-scrollbar {
    width: 8px;

  }
  .textbox-select:focus {
    width: 90%;
  }

}

@media (min-width: 901px) {
  .radioContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 4 columns per row */
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .radioContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 3 columns per row */
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .radioContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 2 columns per row */
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .radioContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 2 columns per row */
    gap: 5px;
  }
}

@media (max-width: 400px) {
  .radioContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1 column per row */
    gap: 5px;
  }
}

.radioContainer label {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}


@media (max-width: 768px) {

  .textbox,
  .checkbox,
  .radio,
  select,
  input[type="date"],
  input[type="color"],
  textarea {
    flex: 1 1 calc(45% - 10px);
  }


}

@media (max-width:745px) {
  .textbox-select option {
    font-size: 14px;
  }
  .textbox-select::-webkit-scrollbar {
    width: 5px;
  }

  .textbox-select:focus {
    width: 90%;

  }
}
@media (max-width:730px) {

  .textbox-select:focus {
    width: 78%;
  }
  #inputCivilStatus{
    display: flex;
  }

}

@media(max-width:700px){
  .radioContainer {
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20px;
  }


}

@media(max-width:570px){
  .radioContainer{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {

  .radioContainer {
    flex-wrap:wrap;
    padding: 0;
    margin:0;
      display: flex;
      flex-wrap: wrap;
      width: auto;
      font-size: 12px;
  }

}

@media (max-width: 480px) {
  .textbox,.checkbox,.radio,
  select,
  input[type="date"],
  input[type="color"],
  textarea {
    flex: 1 1 calc(90% - 10px);
  }

  .textbox-select option {
    font-size: 16px;
  }

  .textbox-select::-webkit-scrollbar {
    width: 8px;

  }
  .textbox-select:focus {
   width: auto;
  }
  /* .radioContainer label{
      font-size: 14px;
  } */

}

@media (max-width: 450px) {
  #input-birthday{
    width: 350px;
  }
}


@media (max-width: 425px) {
  #input-birthday{
    width: 300px;
  }
}

@media (max-width: 365px) {
  #input-birthday{
    width: 270px;
  }
}


@media (max-width: 350px) {
  #input-birthday{
    width: 250px;
  }
}

@media (max-width: 320px) {
  #input-birthday{
    width: auto;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 68%;
  height: 90%;
  text-align: center;
  position: relative;
}

.close {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 1px;
  right: 12px;
}
