body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.border-radio-button {
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.toggle {
    position: relative;
    width: 91px;
    height: 43px;
    background-color: #D9D9D9;
    border-radius: 40px;
    cursor: pointer;
    text-align: right;
    line-height: 40px;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: white;
    user-select: none;
    transition: background-color 0.4s;
}

.toggle #toggleText{
    margin-right: 15px;
}

.toggle .slide {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

input {
    display: none;
}

.toggle.on #toggleText {
    margin-left: 17px;
    font-family: "Poppins", serif;
}

.toggle.on {
    background-color: #1B313E;
    text-align: left;
    transform: 0.8s;
    padding-right: 0;
    padding-left: 1px;
}

.toggle.on .slide {
    transform: translateX(48px);
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .border-radio-button {
        height: 100px;
    }
}

@media only screen and (max-device-width: 480px) {
    .border-radio-button {
        height: 80px;
    }
}




.toggle2 {
    position: relative;
    width: 91px;
    height: 43px;
    background-color: #D9D9D9;
    border-radius: 40px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: 0.5s;
    box-shadow:  0 0 10px 0 rgb(0,0,0,0.25) inset;
    cursor: pointer;
    text-align: right;
    line-height: 40px;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: white;
    user-select: none;
    transition: background-color 0.4s;
}

.toggle2 #toggleText2{
    margin-right: 10px;
}

.toggle2 .slide2 {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}


.toggle2.on #toggleText2 {
    margin-left: 10px;
    font-family: "Poppins", serif;
}

.toggle2.on {
    background-color: #1B313E;
    text-align: left;
    transform: 1s;
    padding-right: 0;
    padding-left: 1px;
    border: 4px solid  #26495c;

}

.toggle2.on .slide2 {
    transform: translateX(50px);
    background-color: green;

}
